#sidebar {
  height: 100%;
  padding-top: 80px;
  position: fixed;
  background-color: rgb(16, 16, 24);

}

.side {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

#dashboard {
  margin-top: 60px;
  floAT: right;


}

#navbar {
  background-color: #161A1E !important;
}
